<div class="fullPage">
<mat-toolbar>
  <span>My Application</span>
  <span class="routes">
    <button mat-button [routerLink]="['/banner']" routerLinkActive="mat-accent">Banner</button>
    <button mat-button [routerLink]="['/e-commerce']" routerLinkActive="mat-accent">E-commerce</button>
    <button mat-button [routerLink]="['/timer']" routerLinkActive="mat-accent" >Timer</button>
    <button mat-button [routerLink]="['/timer-service']" routerLinkActive="mat-accent">Timer with service</button>
    <button mat-button [routerLink]="['/table-sorters']" routerLinkActive="mat-accent">Table sorters</button>
    <button mat-button [routerLink]="['/dynamic-divs']" routerLinkActive="mat-accent">Dynamic divs</button>
  </span>
</mat-toolbar>
<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>
</div>